.text-input__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid darkgray;
  width: 50%;
}

.text-input__icon--search {
  position: absolute;
  width: 18px;
  padding: 0 8px;
}

.text-input--input {
  height: 30px;
  border: none;
  width: 100%;
  padding-left: 10px;
  background-color: transparent;
}

.text-input--input--search {
  @extend .text-input--input;
  padding-left: 35px;
}

@media (max-width: 960px) {
  .text-input__container {
    width: 100%;
  }
}
