body {
  background: #f9f9f9;
  color: #526c87;
  margin: 0 10px;
}

@media (min-width: 960px) {
  body {
    margin: 0 30px;
  }
}

@import 'src/components/Header/Header.scss';
@import 'src/components/BookList/BookList.scss';
@import 'src/components/BookItem/BookItem.scss';
@import 'src/components/TextInput/TextInput.scss';
@import 'src/components/AddBookForm/AddBookForm.scss';
@import 'src/components/Button/Button.scss';
